@charset "utf-8";
/*CSS Document */

@import url("rwd.css");
@import url("nav.css");
@import url("swiper.css");

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700');

body{
	display: flex; /*為了使footer置底*/
	flex-direction: column; /*由上至下排列*/
	min-height:100vh;
	/*可大於但不可小於 整個瀏覽器可視範圍*/
	position: relative;
	margin:0;
	padding:0;
	background:#ffc349;
	font-family: 'Noto Sans TC',"微軟正黑體";
}

::-moz-selection{
	color: #fff;
	background: #fe5656;
}

::selection{
	color: #fff;
	background: #fe5656;
}

header {
	top: 0px;
}

.bookmark{
	position: fixed;
	right: -202px;
	top: 120px;
	z-index: 60;
}

.bookmark a{
	display: block;
	text-decoration: none;
	color: #fff;
	margin: 10px;
	padding: 5px 15px 5px 10px;
	background: #fe5656;
	border-radius: 5px;
	transition: 0.3s;
}

.bookmark a:hover{
	transform: translateX(-160px);
}

section{
	position: relative;
	width: 100%;
}

article{
	width:90%;
	margin: 60px auto 180px;
	scroll-behavior: smooth;
}

.title{
	min-width: 200px;
	max-width: 400px;
	margin: 120px auto 0;
}

.title img{
	width: 100%;
}

p{
	font-size: 12pt;
	padding: 7pt 10px ;
	margin: 0;
	line-height: 22pt;
	letter-spacing: 2px;
	text-align: justify;
	font-weight: 400;
}

#centerline{
	text-align: center;
}

h3{
	font-size: 16pt;
	color: #fff;
	display: inline-block;
	background-color: #fe5656;
	margin: 30px 0 0 10px ;
	padding:5px 10px ;
	font-weight: 500;
	letter-spacing: 2px;
}

h4{
	font-size: 12pt;
	display: inline-block;
	color: #fff;
	background-color: #fe5656;
	margin: 20px 0 0 10px ;
	padding:5px 10px ;
	font-weight: 500;
	letter-spacing: 2px;
}

h4>img{
	width: 120px;
}

p>a{
	border-bottom: dotted 2px #fe5656;
	color: #000;
}

h3>a,h4>a{
	color:  #fff;
}

p>a:hover{
	border-bottom: dotted 2px #fe5656;
	color:  #fe5656;
}

h3>a:hover,h4>a:hover{
	border-bottom: dotted 2px #fff;
}

.tooltip {
    position: relative;
    border-bottom: dotted 2px #fe5656;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #056;
    width: 300px;
    color: #fff;
    text-align: justify;
    font-size: 10pt;
    line-height: 18pt;
    border-radius: 5px;
	padding: 5px 8px;
    position: absolute;
    z-index: 1000;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
	font-weight: 300;
	box-shadow: 2px 2px 8px #bc9b58;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
	left: 50%;
	margin-left: -5px;
    border-width: 5px;
    border-style: solid;
	border-color: #056 transparent transparent transparent;
}

.tooltiptext a{
	text-decoration: none;
	border-bottom: dotted 2px #fe5656;
	color: #fff;
}

a,.tooltiptext a:hover{
	text-decoration: none;
	color:#fe5656;
}

.tooltip:hover{
	color:#fe5656;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.backtolist{
	width: 120px;
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	bottom: 80px;
	display: inline-block;
	box-sizing: border-box;
}

.backtolist img{
	width: 100%;
	padding: 10px 5px;
	border-radius:5px; 
	background-color: #fe5656;

	-ms-transform:scale(1,1);	/* IE 9*/
	-webkit-transform: scale(1,1);	/*Safari*/
	transform: scale(1,1);	/*Standard syntax*/
	
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;/*Safari*/

	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Safari*/
}

.backtolist img:hover{
	box-shadow: 2px 2px 8px #bc9b58;
	-ms-transform: scale(1.2,1.2);	/* IE 9*/
	-webkit-transform: scale(1.2,1.2);	/*Safari*/
	transform: scale(1.2,1.2);	/*Standard syntax*/
}

.draw{
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 0px;
	padding: 0;
	display: none;
	z-index: 20;
}

.draw img{
	width: 100%;
	padding: 0;
	margin: 0;
}

/* swiper */
.swiper-container{
	width: 100%;
	height: 300px;
	margin:30px auto 0;
}

.swiper-slide{
	position: relative;
	width: 100%;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img{
	width: 100%;
}

.imgtext{
	text-align: center;
	width: 400px;
	font-size: 10pt;
	position: absolute;
	left: 50%;
	top: 0;
	background: #000;
	opacity: 0;
	transform: translateX(-50%); 
	-webkit-transition: 0.5s ease; /*Safari*/
	transition: 0.5s ease;
	color: #fff;
}

.imgtext::after{
	content: " "url(../img/external-link-symbol.png);
}

.swiper-slide:hover .imgtext{
	opacity: 0.7;
	-webkit-transition: 0.5s ease; /*Safari*/
	transition: 0.5s ease;	
}

/* 調整swiper裡面的youtube影片 寬高使填滿 */
.swiper-slide > iframe{
	width: auto;
	height: 100%;
}

.swiper-slide > img {
	width: auto;
	height: 100%;
}

.chart{
	width: 100%;
}

.chart img{
	width: 100%;
}

.fb-like{
	float: right;
}

/*for tablets*/
@media only screen and (min-width: 768px) {
	article{
		width:60%;
		margin-bottom: 150px;
	}

	.interview{
		margin: 150px 0 0 60px;
	}

	.interview > iframe{
		width: 640px;
		height: 360px;
	}

	.backtolist{
		transform: initial;
		width: 120px;
		position: fixed;
		right: 3%;
	}

	.bookmark{
		position: fixed;
		right: -110px;
	}

	.bookmark a{
		padding: 5px 10px;
	}
	
	.bookmark a:hover{
		transform: translateX(-100px);
	}

	.draw{		
		display: block;
		position: fixed;
		width:20%;
		margin-bottom: -8px;
	}

	.chart{
		width: 80%;
	}

}

/*for desktop*/
@media only screen and (min-width: 1200px) {
	article{
		width:50%;
	}

	.interview{
		margin: 150px 0 0 100px;
		text-align: left;
		display: inline-block;
	}
	
	.interview > iframe{
		width: 800px;
		height: 450px;
	}

	.bookmark{
		position: fixed;
		right: 5%;
	}

	.bookmark a:hover{
		transform: translateX(-20px);
	}

	.backtolist{
		width: 150px;
		right: 5%;
	}

	.chart{
		width: 60%;
	}

}