@charset "utf-8";
/*CSS Document */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900');

textarea:placeholder{
    content: "我也想跟小紅貓玩" ;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */ 
    height: 200px;
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin: 6px auto 16px;
    resize: none;
    border: none;
    outline: #fe5656;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #fe5656;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    outline: none;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #056;
    box-shadow: 2px 2px 8px #bc9b58;
  }

  input[type=submit]:active {
    transform: translateY(4px);
  }