@charset "utf-8";
/* CSS Document */
.grid-container {
    column-count: 2;
    column-gap: 1em;
    margin: 10px auto;
  }
  .grid-item {
    display: inline-block;       
    width: 100%;
    margin-bottom: 0.5em;
    position: relative;
    cursor: pointer;
    break-inside: avoid;
  }
  .grid-item:hover {  
    box-shadow: 2px 2px 8px #141414;
    border-radius: 10px;
    -ms-transform: scale(1.05,1.05);	/* IE 9*/
    -webkit-transform: scale(1.05,1.05);	/*Safari*/
    transform: scale(1.05,1.05);	/*Standard syntax*/

    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;/*Safari*/
  
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Safari*/
  
  }
  .grid-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }
  .grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 5px;
    opacity: 0;
    transition: 0.3s;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* 顯示最多4行 */
    -webkit-box-orient: vertical;
  }

  .grid-overlay p{
    line-height:1.4em;
    letter-spacing: normal;
    padding: 0;    
  }

  .grid-item:hover .grid-overlay {
    opacity: 1;
  }

/*for tablets*/
@media only screen and (min-width: 768px) {
    .grid-container {
        column-count: 3;
      }

    .grid-overlay {
      padding: 10px;
    }

    .grid-overlay p{
      line-height:1.5em;
    }
}

/*for desktop*/
@media only screen and (min-width: 1200px) {
  .grid-container {
    column-count: 5;
  }

}