@charset "utf-8";
/*CSS Document */
@import url("rwd.css");
@import url("nav.css");
@import url("tab.css");
@import url("Links.css");
@import url("FAQ.css");
@import url("board.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900');

body{
	display: flex; /*為了使footer置底*/
	flex-direction: column; /*由上至下排列*/
	min-height:100vh;
	/*可大於但不可小於 整個瀏覽器可視範圍*/
	position: relative;
	margin:0;
	background:#ffc349;
	font-family: 'Noto Sans TC';
}

::-moz-selection{
	color: #fff;
	background: #fe5656;
}

::selection{
	color: #fff;
	background: #fe5656;
}


section{
	position: relative;
	width: 100%;
	overflow: hidden;
}

.content{
	height: 800px;
	position: relative;
	overflow: hidden;
}

#s3,#s4,#s7{
	height: 1200px;
	width: 100%;
	overflow: hidden;
}

#s2{
	height: 1000px;
	width: 100%;
	overflow: hidden;
}

.content:nth-child(3n-2){
	background-color: #ffc349;
}

.content:nth-child(3n-1){
	background-color: #056;
	color: #fff;
}

.content:nth-child(3n){
	background-color:#fe5656;
}

/* #s2::after {
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0;
	background-image: url(../img/wave3.png);
} */

article,.home{
	width: 80%;
	margin: 60px auto;
	scroll-behavior: smooth;
}

.home img{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 10;
}

.home p{
	position: absolute;
	top: 65%;
	left:5%;
	font-size: 12pt;
}

.wraparrow{
	position :absolute;
	left:60%;
	top: 60%;
}

.wraparrow2{
	position :absolute;
	left:90%;
	top: 80%;
}

.wraparrowleft{
	position :absolute;
	left:50%;
	top: 50%;
}

.downarrow, .leftarrow {
	width : 0 ; 
	height : 0 ;
	margin: 0;
	border-width : 16px ;
	border-style :solid;
	border-color :transparent transparent  #fe5656  transparent;
	transform: ;
	display: block;
	box-sizing: border-box;
	transform: rotate(-180deg) scaleX(0.6);
}

.leftarrow  {
	border-color :transparent  #fe5656 transparent  transparent;
	transform: scaleY(0.6);
}

.downarrow::after,.leftarrow::after {
	content : " " ;
	width : 2px ;
	height : 0px ;
	background-color : #fe5656 ;
	position :absolute;
	top : 5px ;
	left : -1px ;
	transform: rotate(-180deg);
	animation: line 1.5s infinite ease-in-out; 
	-webkit-animation: line 1.5s infinite ease-in-out;
}

.leftarrow::after{	
	width : 0px ;
	height : 2px ;
	top : 0px ;
	left : 0px ;
	transform: rotate(180deg);
	animation: lineleft 1.5s infinite ease-in-out; 
	-webkit-animation: lineleft 1.5s infinite ease-in-out;
}

@keyframes line{
  0% {height: 0px; top:350px;}
  50% {height: 250px; top: 5px;}
  100% {height: 0px; top: 5px;}
}

@keyframes lineleft{
	0% {width: 0px; left:120px;}
	50% {width: 100px; left: 5px;}
	100% {width: 0px; left: 5px;}
  }

.title{
	width: 300px;
	margin: 60px auto 0;
}

.title img{
	width: 100%;	
}

p{
	font-size: 12pt;
	padding: 7pt 10px ;
	margin: 0;
	line-height: 22pt;
	letter-spacing: 2px;
	text-align: justify;
}

h3{
	font-size: 16pt;
	color: #fff;
	display: inline-block;
	background-color: #fe5656;
	margin: 10px 0 0 10px ;
	padding:5px 10px ;
	font-weight: 700;
	letter-spacing: 2px;
}

.work{
	margin: 40px auto 0;
	width: 60%;
}

.work img{
	width: 100%;
	border-radius: 10px;
}

#memebtn,#projectbtn{
	margin: auto;
	width: 80%;
}

#memebtn p,#projectbtn p{
	text-align: center;
	padding: 30px 0;
	font-size: 18pt;
	font-weight: 700;
}

#memebtn img,#projectbtn img{
	-ms-transform:scale(1,1);	/* IE 9*/
	-webkit-transform: scale(1,1);	/*Safari*/
	transform: scale(1,1);	/*Standard syntax*/
	
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;/*Safari*/

	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Safari*/
}

#memebtn img:hover,#projectbtn img:hover{
	box-shadow: 2px 2px 8px #141414;
	-ms-transform: scale(1.1,1.1);	/* IE 9*/
	-webkit-transform: scale(1.1,1.1);	/*Safari*/
	transform: scale(1.1,1.1);	/*Standard syntax*/
}

#memebtn img{
	background-color: #ffc649;
}

#projectbtn img{
	background-color: #fe5656;
}

.about img{
	width: 100%;
}

.about p{
	text-align: center;
}

.center{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

/*for tablets*/
@media only screen and (min-width: 768px) {
	.content{
		height: 600px;
		position: relative;
		overflow: hidden;
	}

	#s2{
		height: 600px;
	}

	#s3,#s7{
		height: 800px;
	}
	
	#s4,#s5{
		height: 1000px;
	}

	.work{
		margin: 40px auto 0;
		width: 80%;
		display: flex;
		justify-content: space-around;
	}
	
	.work img{
		width: 100%;
		border-radius: 10px;
	}
	
	#memebtn,#projectbtn{
		width: 40%;
	}
}

/*for desktop*/
@media only screen and (min-width: 1200px) {
	
	.content,#s2,#s3,#s4,#s5,#s7{
		height: 750px;
	}
	
	#memebtn,#projectbtn{
		width: 25%;
	}
}