@charset "utf-8";
/*CSS Document */
@import url("rwd.css");
@import url("nav.css");
@import url("tab.css");
@import url("Links.css");
@import url("FAQ.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900');

body{
	display: flex; /*為了使footer置底*/
	flex-direction: column; /*由上至下排列*/
	min-height:100vh;
	/*可大於但不可小於 整個瀏覽器可視範圍*/
	position: relative;
	margin:0;
	background:#ffc349;
	font-family: 'Noto Sans TC';
	scroll-behavior: smooth;
}

::-moz-selection{
	color: #fff;
	background: #fe5656;
}

::selection{
	color: #fff;
	background: #fe5656;
}


section{
	position: relative;
	width: 100%;
	overflow: hidden;
}

.content{
	padding-bottom:60px; 
	position: relative;
	overflow: hidden;
}

#s1{
	height: 500px;
}

.content:nth-child(3n-2){
	background-color: #ffc349;
}

.content:nth-child(3n-1){
	background-color: #056;
	color: #fff;
}

.content:nth-child(3n){
	background-color:#fe5656;
}

/* #s2::after {
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0;
	background-image: url(../img/wave3.png);
} */

article{
	width: 90%;
	margin: 60px auto;
	scroll-behavior: smooth;
}

.logotitle{
	position: absolute;
	width: 70%;
	top: 10%;
	left: 10%;
}

.logotitle img{
	position: relative;
	width: 100%;
}

.logotitle p{
	font-size: 12pt;
}

#home{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* 箭頭 */
.wraparrow{
	position :absolute;
	left:1%;
	bottom: 0%;
}

.wraparrow2{
	position :absolute;
	left:90%;
	top: 80%;
}

.wraparrowleft{
	position :absolute;
	left:50%;
	top: 50%;
}

.downarrow, .leftarrow {
	width : 0 ; 
	height : 0 ;
	margin: 0 5px;
	border-width : 16px ;
	border-style :solid;
	border-color :transparent transparent  #fe5656  transparent;
	transform: ;
	display: inline-block;
	box-sizing: border-box;
	transform: rotate(-180deg) scaleX(0.6);
}

.leftarrow  {
	border-color :transparent  #fe5656 transparent  transparent;
	transform: scaleY(0.6);
}

.downarrow::after,.leftarrow::after {
	content : " " ;
	width : 2px ;
	height : 0px ;
	background-color : #fe5656 ;
	position :absolute;
	top : 5px ;
	left : -1px ;
	transform: rotate(-180deg);
	animation: line 1.5s infinite ease-in-out; 
	-webkit-animation: line 1.5s infinite ease-in-out;
}

.leftarrow::after{	
	width : 0px ;
	height : 2px ;
	top : 0px ;
	left : 0px ;
	transform: rotate(180deg);
	animation: lineleft 1.5s infinite ease-in-out; 
	-webkit-animation: lineleft 1.5s infinite ease-in-out;
}

@keyframes line{
  0% {height: 0px; top:550px;}
  50% {height: 450px; top: 5px;}
  100% {height: 0px; top: 5px;}
}

@keyframes lineleft{
	0% {width: 0px; left:120px;}
	50% {width: 100px; left: 5px;}
	100% {width: 0px; left: 5px;}
  }

.title{
	width: 300px;
	margin: 60px auto 0;
}

.title img{
	width: 100%;	
}

p{
	font-size: 12pt;
	padding: 7pt 10px ;
	margin: 0;
	line-height: 22pt;
	letter-spacing: 2px;
	text-align: justify;
}

h3{
	font-size: 16pt;
	color: #fff;
	display: inline-block;
	background-color: #fe5656;
	margin: 10px 0 0 10px ;
	padding:5px 10px ;
	font-weight: 700;
	letter-spacing: 2px;
}

.work{
	width: 60%;
	margin: 40px auto 0;
}

.work img{
	width: 100%;
	border-radius: 10px;
}

#memebtn,#projectbtn{
	position: relative;	
	padding:10px;
}

#memebtn p,#projectbtn p{
	text-align: center;
	padding: 30px 0;
	font-size: 18pt;
	font-weight: 700;
}

#memebtn img,#projectbtn img{
	width: 100%;
	-ms-transform:scale(1,1);	/* IE 9*/
	-webkit-transform: scale(1,1);	/*Safari*/
	transform: scale(1,1);	/*Standard syntax*/
	
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;/*Safari*/

	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Safari*/
}

#memebtn img:hover{
	box-shadow: 2px 2px 8px #141414;
	-ms-transform: scale(1.1,1.1);	/* IE 9*/
	-webkit-transform: scale(1.1,1.1);	/*Safari*/
	transform: scale(1.1,1.1);	/*Standard syntax*/
}

.fadebox{
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%, -50%); /*IE 9*/
	-webkit-transform: translate(-50%, -50%); /*Safari*/
	transform: translate(-50%, -50%);
	z-index: 50;
	opacity: 0;
}

#projectbtn:hover img{
	-webkit-filter: brightness(50%); /*Safari*/
	filter: brightness(50%);
}

#projectbtn:hover .fadebox{
	opacity: 1;
}

.linktext{
	display: block;
	padding: 16px 20px;
	background: #056;
	border-radius: 5px;
}

#memebtn img{
	background-color: #ffc649;
}

#projectbtn img{
	background-color: #fe5656;
}

.about img{
	width: 100%;
}

.about p{
	text-align: center;
}

.center{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

#form{
	display: block;
	border-radius:10px; 
	width: 80%;
	height: 300px;
	margin: 20px auto 0;
}

/*for tablets*/
@media only screen and (min-width: 768px) {
	
	article,.home{
		width: 80%;
	}

	#s1{
		height: 600px;
	}

	.logotitle{
		position: absolute;
		width: 35%;
		top: 15%;
		left: 10%;
	}

	.wraparrow{
		left: 5%;
		bottom: 20%;
	}

	.work{
		width: 80%;
	}

	#memebtn,#projectbtn{
		padding:0 20px;
	}
	
}

/*for desktop*/
@media only screen and (min-width: 1200px) {
	
	#s1{
		height: 750px;
	}

	.work{
		width: 60%;
	}

	#memebtn,#projectbtn{
		padding:0 60px;
	}
	
}