@charset "utf-8";
/*CSS Document */

@import url("rwd.css");
@import url("nav.css");

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900');

body{
	display: flex; /*為了使footer置底*/
	flex-direction: column; /*由上至下排列*/
	min-height:100vh;
	/*可大於但不可小於 整個瀏覽器可視範圍*/
	position: relative;
	margin:0;
	background:#056;
	font-family: 'Noto Sans TC';
}

a{
	text-decoration: none;
}

::-moz-selection{
	color: #fff;
	background: #fe5656;
}

::selection{
	color: #fff;
	background: #fe5656;
}

section{
	position: relative;
	width: 80%;
	margin: 60px auto 10px;
	text-align: center;
}

header {
	top: 0px;
}

.title{
	width: 300px;
	margin: 120px auto 0px;
}

.title img{
	width: 100%;
}

.box{
	width: 80%;
	position: relative;
	color: #fff;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	overflow: hidden;

	-ms-transform:scale(1,1);	/* IE 9*/
	-webkit-transform: scale(1,1);	/*Safari*/
	transform: scale(1,1);	/*Standard syntax*/
	
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;/*Safari*/

	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Safari*/
}

.box:hover{
	box-shadow: 2px 2px 8px #141414;
	-ms-transform: scale(1.1,1.1);	/* IE 9*/
	-webkit-transform: scale(1.1,1.1);	/*Safari*/
	transform: scale(1.1,1.1);	/*Standard syntax*/
}

.imgbox{
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
}

.box img{
	width: 100%;
	border-radius: 10px;
}

.box h3{
	box-sizing: border-box;
	margin: 10px auto 20px;
	padding: 0px 20px;
	font-size: 18pt;
	font-weight: normal;
}

.backtolist{
	width: 300px;
	margin: 0 auto 60px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.backtolist p{
	color: #fff;
	margin: 0;
	padding: 0;
}

.backtolist img{
	width: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: #fe5656;

	-ms-transform:scale(1,1);	/* IE 9*/
	-webkit-transform: scale(1,1);	/*Safari*/
	transform: scale(1,1);	/*Standard syntax*/
	
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;/*Safari*/

	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Safari*/
}

.backtolist img:hover{
	-ms-transform: scale(1.2,1.2);	/* IE 9*/
	-webkit-transform: scale(1.2,1.2);	/*Safari*/
	transform: scale(1.2,1.2);	/*Standard syntax*/
}

/*for tablets*/
@media only screen and (min-width: 768px) {
	
	.title{
		width: 400px;
	}
	
}

/*for desktop*/
@media only screen and (min-width: 1200px) {

	.title{
		width: 500px;
	}

}