@charset "utf-8";
/*CSS Document */

@import url("rwd.css");
@import url("nav.css");

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900');

body{
	display: flex; /*為了使footer置底*/
	flex-direction: column; /*由上至下排列*/
	min-height:100vh;
	/*可大於但不可小於 整個瀏覽器可視範圍*/
	position: relative;
	margin:0;
	background:#056;
	font-family: 'Noto Sans TC';
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
}

::-moz-selection{
	color: #fff;
	background: #fe5656;
}

::selection{
	color: #fff;
	background: #fe5656;
}

section{
	position: relative;
	width: 80%;
	margin: 60px auto 10px;
	text-align: center;
}

header {
	top: 0px;
}

.title{
	width: 50%;
	margin: 120px auto 0px;
}

.title img{
	width: 100%;
}

/* .meme-container{
	margin-top: 60px;
} */

.box,.lock{
	width: 80%;
	position: relative;
	color: #fff;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	overflow: hidden;
}

.box{
	-ms-transform:scale(1,1);	/* IE 9*/
	-webkit-transform: scale(1,1);	/*Safari*/
	transform: scale(1,1);	/*Standard syntax*/
	
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;/*Safari*/

	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Safari*/
}

.box:hover{
	box-shadow: 2px 2px 8px #141414;
	-ms-transform: scale(1.1,1.1);	/* IE 9*/
	-webkit-transform: scale(1.1,1.1);	/*Safari*/
	transform: scale(1.1,1.1);	/*Standard syntax*/
}

.imgbox{
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
}

.box img,.lock img{
	width: 100%;
	border-radius: 10px;
}

.box h3,.lock h3{
	box-sizing: border-box;
	margin: 20px auto 15px;
	padding: 0px 20px;
	line-height: 20pt;
	font-size: 18pt;
	font-weight: normal;
}

.backtolist{
	width: 300px;
	margin: 0 auto 60px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.fadebox{
	position: absolute;
	top: 35%;
	left: 50%;
	-ms-transform: translate(-50%, -50%); /*IE 9*/
	-webkit-transform: translate(-50%, -50%); /*Safari*/
	transform: translate(-50%, -50%);
	z-index: 50;
	opacity: 0;
}

.lock:hover img{
	-webkit-filter: brightness(50%); /*Safari*/
	filter: brightness(50%);
}

.lock:hover .fadebox{
	opacity: 1;
}

.linktext{
	font-size: 12pt;
	display: block;
	padding: 8px 20px;
	background: #fe5656;
	border-radius: 5px;
}

.backtolist{
	color: #fff;
	margin: 0 auto 60px;
	padding: 10px;
	-ms-transform:scale(1,1);	/* IE 9*/
	-webkit-transform: scale(1,1);	/*Safari*/
	transform: scale(1,1);	/*Standard syntax*/
	
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;/*Safari*/

	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Safari*/
}

.backtolist img{
	width: 100%;
}

.backtolist:hover{
	background-color: #fe5656;
	box-shadow: 2px 2px 8px #141414;
	border-radius: 10px;
	-ms-transform: scale(1.1,1.1);	/* IE 9*/
	-webkit-transform: scale(1.1,1.1);	/*Safari*/
	transform: scale(1.1,1.1);	/*Standard syntax*/
}

/*for tablets*/
@media only screen and (min-width: 768px) {
	
	.title{
		width: 35%;
	}

	.box h3,.lock h3{
		min-height: 2.5em;
	}

	.fadebox{
		top: 30%;
	}

	.linktext{
	font-size: 12pt;
	padding: 8px 5px;
	}
	
}

/*for desktop*/
@media only screen and (min-width: 1200px) {

	.title{
		width: 30%;
	}

	.fadebox{
		top: 35%;
	}

	.linktext{
	font-size: 14pt;
	padding: 16px 20px;
	}
}