@charset "utf-8";
/*CSS Document */


header {
    position: fixed;
    z-index: 1000;
    top: -105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
	background-color: #fe5656;
	transition: top 0.5s;
}

header::after {
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -40px;
    left: 0;
    background-image: url(../img/wave.png);
}


#logo{
	max-width: 200px;
	min-width: 70px;
	margin: 10px auto 0;
}

#logo img{
	width: 100%;
}

.share{
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: url(../img/fb.png) no-repeat;
	background-position: -40px,0px;
	background-size: 200%;
}

.share:hover{
	background:url(../img/fb.png) no-repeat;
	background-position: 0px,0px;
	background-size: 200%;
}

.nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    line-height: 50px;
    z-index: -1;
}

/*hamburger*/
.hamburger {
	outline:none;
	padding: 15px 15px;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: #fff;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin-left: 0;
	overflow: visible; 
}

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #fff; }

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative; 
}
.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; 
}
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*Elastic*/
.hamburger--elastic .hamburger-inner {
	top: 2px;
	transition-duration: 0.275s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
	transform: translate3d(0, 10px, 0) rotate(135deg);
	transition-delay: 0.075s; 
}
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*menu*/

#menu{
	width: 100%;
	min-height: 100vh;
	display:none;
	margin:0 auto;
	padding: 80px 0 0;
	background-color: #fe5656;
}

#menu ul{
	margin: auto;
	padding: 0;
	width: 100%;	
	text-align: center;
}

#a1{
	background: url(../img/title/btn_home.png) no-repeat;
}

#a1:hover{
	background: url(../img/title/btn_home_h.png) no-repeat;
	background-size: 80%;
	background-position: 10px,35px;
}

#a2{
	background: url(../img/title/btn_works.png) no-repeat;
}

#a2:hover{
	background: url(../img/title/btn_works_h.png) no-repeat;
	background-size: 80%;
	background-position: 10px,35px;
}

#a3{
	background: url(../img/title/btn_about.png) no-repeat;
}

#a3:hover{
	background: url(../img/title/btn_about_h.png) no-repeat;
	background-size: 80%;
	background-position: 10px,35px;
}

#a4{
	background: url(../img/title/btn_character.png) no-repeat;
}

#a4:hover{
	background: url(../img/title/btn_character_h.png) no-repeat;
	background-size: 80%;
	background-position: 10px,35px;
}

#a5{
	background: url(../img/title/btn_links.png) no-repeat;
}

#a5:hover{
	background: url(../img/title/btn_links_h.png) no-repeat;
	background-size: 80%;
	background-position: 10px,35px;
}

#a6{
	background: url(../img/title/btn_faq.png) no-repeat;
}

#a6:hover{
	background: url(../img/title/btn_faq_h.png) no-repeat;
	background-size: 80%;
	background-position: 10px,35px;
}

#a7{
	background: url(../img/title/btn_contact.png) no-repeat;
}

#a7:hover{
	background: url(../img/title/btn_contact_h.png) no-repeat;
	background-size: 80%;
	background-position: 10px,35px;
}

#menu li{	
	margin: 10px;
	padding: 0;
	width: 100px;
	height: 100px;	
	display: inline-block;
	box-sizing: border-box;
	border-radius: 50%;
	text-align: center;
	background-size: 80%;
	background-position: 10px,35px;

	-ms-transform:scale(1,1);	/* IE 9*/
	-webkit-transform: scale(1,1);	/*Safari*/
	transform: scale(1,1);	/*Standard syntax*/
	
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;/*Safari*/

	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Safari*/
}

#menu li:hover{
	cursor: pointer;
	background-color: #fff;
	color: #fe5656;
	box-shadow: 2px 2px 8px #BE4040;
    -ms-transform: scale(1.2,1.2);	/* IE 9*/
	-webkit-transform: scale(1.2,1.2);	/*Safari*/
	transform: scale(1.2,1.2);	/*Standard syntax*/
}

footer{
	bottom: 0px;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	font-size: 10pt;
	color: #fff;
	background: #fe5656;
	font-weight: 300;
	position: absolute;
}

/*for tablets*/
@media only screen and (min-width: 768px) {
		
	.hamburger {
		margin-left: 20px;
	}
	
	#menu ul{
		width: 80%;
	}

	#menu li{	
		margin: 20px;
		padding: 0;
		width: 120px;
		height: 120px;
	}

	footer{
		bottom: 0;
	}
}

/*for desktop*/
@media only screen and (min-width: 1200px) {

	#menu li{	
		margin: 20px;
		padding: 0;
		width: 150px;
		height: 150px;
		background-position: 18px,35px;
	}

	#menu ul{
		width: 70%;
	}

	#a1:hover,#a2:hover,#a3:hover,#a4:hover,#a5:hover,#a6:hover,#a1:hover{
		background-position: 18px,35px;
	}
}