@charset "utf-8";
/* CSS Document */

/* video */
.interview{
	margin: 120px auto 0;
    text-align: center;
    box-sizing: border-box;
    display: block;
}

.interview > iframe{
	width: 480px;
	height: 270px;
}

.interviewarticle{
	padding: 10px;
	width:90%;
	margin: 0px auto 180px; 
    scroll-behavior: smooth;
}

/*for tablets*/
@media only screen and (min-width: 768px) {

	.interview{
        margin: 150px auto 0px;
        text-align: center;
	}

	.interview > iframe{
		width: 640px;
		height: 360px;
    }
    
    .interviewarticle{
        width:60%;
    }

}

/*for desktop*/
@media only screen and (min-width: 1200px) {
	
	.interview > iframe{
		width: 800px;
		height: 450px;
    }
    
    .interviewarticle{
        width:50%;
    }

}