@charset "utf-8";
/* CSS Document */

/*tab*/

.tab-title{
	width: 100%;
	list-style:none;
	text-align: center;
	padding: 0;
}

#c1,#c2,#c3,#c4{
	display:inline-block; 
	padding:10px;
	list-style:none; 
	box-sizing:border-box;
	margin:5px;
	cursor: pointer;
	background-position: 0px,0px;
	background-size: 200%;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	
	-ms-transform:scale(1,1);	/* IE 9*/
	-webkit-transform: scale(1,1);	/*Safari*/
	transform: scale(1,1);	/*Standard syntax*/
	
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;/*Safari*/

	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Safari*/

}

#c1{
	background: url(../img/momo.png) no-repeat;
	background-position: 0px,0px;
	background-size: 100%;
}

#c1:hover{
	background:url(../img/momo.gif) no-repeat;
	background-position: 0px,0px;
	background-size: 100%;
	background-color: #fe5656;
	
	-ms-transform: scale(1.1,1.1);	/* IE 9*/
	-webkit-transform: scale(1.1,1.1);	/*Safari*/
	transform: scale(1.1,1.1);	/*Standard syntax*/
	box-shadow: 2px 2px 8px #bc9b58;
}


#c2{
	background: url(../img/clam.png) no-repeat;
	background-position: 0px,0px;
	background-size: 100%;
}

#c2:hover{
	background:url(../img/clam.gif) no-repeat;
	background-position: 0px,0px;
	background-size: 100%;
	background-color: #fe5656;

	-ms-transform: scale(1.1,1.1);	/* IE 9*/
	-webkit-transform: scale(1.1,1.1);	/*Safari*/
	transform: scale(1.1,1.1);	/*Standard syntax*/
	box-shadow: 2px 2px 8px #bc9b58;
}

#c3{
	background: url(../img/mush.png) no-repeat;
	background-position: 0px,0px;
	background-size: 100%;
}

#c3:hover{
	background:url(../img/mush.gif) no-repeat;
	background-position: 0px,0px;
	background-size: 100%;
	background-color: #fe5656;

	-ms-transform: scale(1.1,1.1);	/* IE 9*/
	-webkit-transform: scale(1.1,1.1);	/*Safari*/
	transform: scale(1.1,1.1);	/*Standard syntax*/
	box-shadow: 2px 2px 8px #bc9b58;
}

#c4{
	background: url(../img/RRC.png) no-repeat;
	background-position: 0px,0px;
	background-size: 100%;
}

#c4:hover{
	background:url(../img/RRC.gif) no-repeat;
	background-position: 0px,0px;
	background-size: 100%;
	background-color: #fe5656;

	-ms-transform: scale(1.1,1.1);	/* IE 9*/
	-webkit-transform: scale(1.1,1.1);	/*Safari*/
	transform: scale(1.1,1.1);	/*Standard syntax*/
	box-shadow: 2px 2px 8px #bc9b58;
}

/* .tri{
    position: absolute;
    top: 100%;
	left: 50%;
	margin-top: -90px;
	margin-left: -80px;
	border-width: 80px;
    border-style: solid;
	border-color: transparent transparent #fff transparent;
} */

.tab-inner{ 
	width: 100%;
	border-radius: 10px;
	margin: 40px auto 0;
	text-align: center;
}

.tab-inner p{ 
	text-align: center;
}

.ch_bg{
	background-color: #fe5656;
}

/* #tab-demo>.tab-inner:nth-child(2n){
	border-color: #fe5656;
} */

/*for tablets*/
@media only screen and (min-width: 768px) {
	
	#c1,#c2,#c3,#c4{
		width: 100px;
		height: 100px;
		margin: 15px 15px 0px 15px;
	}

}

/*for desktop*/
@media only screen and (min-width: 1200px) {
	
	#c1,#c2,#c3,#c4{
		width: 150px;
		height: 150px;
		margin: 10px 20px;
	}
}

