@charset "utf-8";
/* CSS Document */

/*tab*/
#tab-demo{ 
	width:100%;
}
#tab-demo>ul{ 
	margin:0;
	list-style:none;
}

.tab-title{
	list-style:none;
	position: relative;
	display: block;
}

.tab-title img{
/*	position: absolute;*/
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

/*.tab-title img:last-child:hover{
    opacity: 0;
    }*/

#tab-demo>ul>li{ 
	display:inline-block; 
	vertical-align:top;
	padding:10px;
	list-style:none; 
	box-sizing:border-box;
}
#tab-demo>ul>li a{ 
	color:#000; 
	text-decoration:none;
}

/*#tab-demo > ul > li.active{ 
	border-top:15px solid #fff; 
}*/


#tab-demo>.tab-inner{ 
	clear:both; 
	color:#000; 
	background: #fff;
	padding:10px 30px; 
	height:100%;
	border-radius: 10px;
	border:5px #fe5656 solid;
	box-shadow: 2px 2px 8px #999;	
}

#tab-demo>.tab-inner p{ 
	margin:0 0 5px;
}

#tab-demo>.tab-inner:nth-child(2n){
	border-color: #ffc349;
}


